{% extends "HomePage.html"%}

{% block content %}
 <style>
.container form{
    margin-top: 5%;
    height: auto;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    
    box-shadow: 5px 5px 50px #000;
    padding-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.5);
}
.container h1, p {
    color: white;
}
.container:hover{
    background-color:rgba(0, 0, 0, 0.3)
}

.container form input{
    width: 50%;
    margin-left: 5%;
    border: 1px solid black;
}
.container form input:hover{
    background-color: #34495E;
}</style>


<div class=" container">
    <div class="col-sm">
            <form action="postsignup" method="post">
            {% csrf_token %}
                <h1>Post an Advertisement</h1>
                <p>Quicker, Easier and Faster</p>
                <div class="form-group">
                    <input type="text" placeholder=" House Owner"name="name" required>
                </div>
                <div class="form-group">
                    <input type="number" placeholder="Contact Number" name="number" required>
                </div>
                <div class="form-group">
                    <input type="text"placeholder="Address" name="address" required>
                </div>
                <div class="form-group">
                  <input type="number"placeholder="Flat/Apartment Size (In square feet)" name="size" required>
                </div>
                <div class="form-group">
                    <input type="number" placeholder="Rent fee per month (In Taka):" name="fee" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="House Details" name="house_details" required>
                </div>
                

                <button type="submit" class="btn btn-primary">Post</button>
              </form>
        </div>
    </div>
                
{% endblock content %}