{% extends "Base.html"%}

{% block content %}
    <style>
        .container{
            border: 2px solid white;
        }
        .container button{
            margin-left: 2%;
        }
    </style>
    
    {% for time,dat,advertisements in comb_lis %}
        <div class="container">
            <div class="row">
              <div class="col">Date: {{dat}} &nbsp; Advertisement: {{advertisements}}</div>
            <button type="submit" class="btn btn-primary" onclick="location.href='advertisement_details/?z={{time}}'">Click Here to view Full Details</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='edit_advertisement/?z={{time}}'">Delete Advertisement</button>
              <div class="w-100"></div>
            
            </div>
          </div>
      
        
<br>

    {% endfor %}</div>

{% endblock content %}

