{% extends "BariVara/Base.html"%}


{% block content %}
  <style>
      .container{
          margin-top: 2%;
          border: 5px solid black;
          color: white;
      }
      .p{
          font-size: medium;
      }
  </style>
<div class="container">
         <legend class="border-bottom mb-4 text-center"><h3>House Information</h3></legend> 
         <h5 class="card-title">Location: {{object.place}} </h5> 
         <img src="{{ object.image.url }}" alt="..." class="img-thumbnail">    
         <p> Full Address: {{object.address}}</p>  
         <p>Number of bedrooms: {{object.bedroom}}</p>
         <p>Number of Bathrooms: {{object.bathroom}}</p>
         <p>House/Apartment Size: {{object.size}} squarefeet</p>
         <p>Rent per month: {{object.rent}} taka</p>
         <legend class="border-bottom mb-4 text-center"><h3>Owner Information</h3></legend>
         <p>Owner Name: {{object.owner}}</p>
         <p>Advertisement Posted on: {{object.date_posted}}</p>
         {% if object.owner == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'advertisement_update' object.id%}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'advertisement_delete' object.id%}">Delete</a>
        {% endif %}
         

  </div>
{% endblock content %}