{% extends "BariVara/Base.html"%}


{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class=" alert-alert-{{message.tags}}">
        {{ message }}
    {% endfor %}
{% endif %}

  <div class="col">
    <style>
      #information{
        margin-top: 1.5%;
        margin-left: 35%;
        
      }
    </style>
{% for advertisement in advertisements %}

<div class="card" id="information" style="width: 28rem;">
  <div class="card-body">
    <h5 class="card-title">{{advertisement.place}}</h5>
    <p>House/Apartment Size: {{advertisement.size}} squarefeet</p>
    <p>Rent per month: {{advertisement.rent}} taka</p>
    <a href='{% url 'advertisement_details' advertisement.id  %}' class="card-link">Full Details</a>
  </div><br>
</div>



                
                
{% endfor %}
  </div>
{% endblock content %}