{% extends "BariVara/Base.html"%}


{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class=" alert-alert-{{message.tags}}">
        {{ message }}
    {% endfor %}
{% endif %}

  <div class="col">
    <style>
      #information{
        margin-top: 1.5%;
        margin-left: 35%;
        
      }
    </style>
{% for advertisement in advertisements %}
{% if advertisement.owner == user %}
  <div class="card" id="information" style="width: 28rem;">
    <div class="card-body">
      <h5 class="card-title">{{advertisement.place}}</h5>
      <p>Advertisement Posted on: {{advertisement.date_posted}}</p>
      <hr class="my-4">
      <p> Full Address: {{advertisement.address}}</p>  
      <p>Number of bedrooms: {{advertisement.bedroom}}</p>
      <p>Number of Bathrooms: {{advertisement.bathroom}}</p>
      <p>House/Apartment Size: {{advertisement.size}} squarefeet</p>
      <p>Rent per month: {{advertisement.rent}} taka</p>
      <p>Owner Name: {{advertisement.owner}}</p>
      
      
    </div><br>
  </div>

{% endif %}

                
                
{% endfor %}
  </div>
{% endblock content %}